@tailwind base;
@tailwind components;
@tailwind utilities;

.bgAnimation{
    background-image: url('/images/Meteor.svg');
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir todo */
    background-position: center; /* Centra el fondo */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
}

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


